<head>
	<meta charset="utf-8">
	<title></title>
<!-- 	<link href="css/bootstrap.css" rel="stylesheet"> -->
</head>

<header id="header">
	<%= link_to root_path do %>
		<button type="button" style="padding: 15px" class="btn page-link text-dark d-inline-block btn-lg btn-block">
			<font size="7">カラオケばっちこい！</font>
		</button>
	<% end %>
	<div class="link_top">
		<%= link_to admins_top_path do %>
			<button type="button" style="padding: 20px 100px; margin-bottom: 40px; " class="btn page-link text-dark d-inline-block btn-lg center-block"><p style="margin: 0;"class="text-primary">管理者トップページへ</p>
			</button>
		<% end %>
	</div>
</header><!-- /header -->
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<h1>ユーザー一覧</h1>
				<% @users.each do |user| %>
				<div class="admin-users-index-box clearfix">
					<div class="admin-users-info-box">
						<div class="boxboxbox clearfix">
							<div class="name-box">名前</div>
							<div class="name-text-boxbox clearfix">
								<div class="name-text-box"><%= user.name %></div>
								<div class="name-text-box"><%= user.name_kana %></div>
							</div>
							<div class="postal_code-box">〒<%= user.postal_code %></div>
						</div>
						<div class="E-T-P-boxbox">
							<div class="E-T-P-box">Email</div>
							<div class="E-T-P-box">TEL</div>
						</div>
						<div class="E-T-P-text-boxbox">
							<div class="E-T-P-text-box"><%= user.email%></div>
							<div class="E-T-P-text-box"><%= user.tel%></div>
						</div>
						<div class="addresses-box"><%= user.address %></div>
					</div>
					<div class="btn-group-vertical" style="margin: -160px 11px 60px 502px;" role="group">
					<%=  link_to admins_user_path(user.id) do %><button type="button" style="padding: 6px 20px; background-color: red;
					margin-bottom: 10px;" class="btn page-link text-dark d-inline-block">購入履歴</button> <% end %>
					<%= link_to edit_admins_user_path(user.id) do %><button type="button" style="padding: 6px 36px; background-color: green;
					margin-bottom: 10px;" class="btn page-link text-dark d-inline-block">編集</button> <% end %>
					<%=  link_to admins_user_path(user.id), method: :delete do %><button type="button" style="padding: 6px 36px; background-color: blue;
					margin-bottom: 10px;" class="btn page-link text-dark d-inline-block">削除</button> <% end %>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</body>