<% @user.purchase_histories.each do |history| %>
<table class="table table-bordered my-3"">
		<tr>
		<th>購入者</th>
		<td><%= @user.name %></td>
		</tr>
		<tr>
		<th>購入日</th>
		<td><%= history.created_at %></td>
		</tr>
	<tr>
		<th>購入内容</th>
		<td>
		<% sum_price = 0 %>
		<ul>
			<% history.purchase_contents.each do |content| %>
				<li><%= content.product.product_name %></li>
					<li><%= content.item_quantity %>枚</li>
					<li class="text-right"><%= content.purchase_unit_price * content.item_quantity %></li>
				<% sum_price += content.purchase_unit_price * content.item_quantity %>
				<div class="hr my-3"><hr></div>
			<% end %>
			<li class="text-right"><%= sum_price %></li>
		</ul>
	</tr>
		<tr>
		<th>送付先</th>
		<td><%= history.destination_address %></td>
		</tr>
		<tr>
		<th>ステータス</th>
		<td>
			<!-- プログレスバー -->
			<div class="progress my-1">
			  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">受付</div>

			  <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">商品準備中</div>

			  <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">出荷済</div>

			  <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">キャンセル</div>
			</div>
			<!-- プログレスバー -->
			<div class="col-12">その他：</div>
		</td>
		</tr>
	</table>
	<% end %>