<% sum_price = 0 %>
<% @user.purchase_histories.each do |history| %>
<% history.purchase_contents.each do |content| %>
<table class="table table-bordered my-3"">
		<tr>
		<th>購入者</th>
		<td><%= @user.name %></td>
		</tr>
		<tr>
		<th>購入日</th>
		<td><%= history.created_at %></td>
		</tr>
	<tr>
		<th>購入内容</th>
		<td>
		<ul>
				<li><%= content.product.product_name %></li>
					<li>購入枚数 <%= content.item_quantity %>枚</li>
					<li class="text-right">小計 <%= content.purchase_unit_price * content.item_quantity %></li>
				<% sum_price += content.purchase_unit_price * content.item_quantity %>
				<div class="hr my-3"><hr></div>
			<li class="text-right">合計金額<%= sum_price %></li>
		</ul>
	</tr>
		<tr>
		<th>送付先</th>
		<td><%= history.destination_address %></td>
		</tr>
		<tr>
		<th>ステータス</th>
		<td><%= history.delivery_status %></td>
		</tr>
	</table>
	<% end %>
	<% end %>