<header id="header">
	<%= link_to root_path do %>
		<button type="button" style="padding: 15px" class="btn page-link text-dark d-inline-block btn-lg btn-block">
			<font size="7">カラオケばっちこい！</font>
		</button>
	<% end %>
	<div class="link_top">
		<%= link_to admins_top_path do %>
			<button type="button" style="padding: 20px 100px; margin-bottom: 40px; " class="btn page-link text-dark d-inline-block btn-lg center-block"><p style="margin: 0;"class="text-primary">管理者トップページへ</p>
			</button>
		<% end %>
	</div>
</header><!-- /header -->
<% @user.purchase_histories.each do |history| %>
<% sum_price = 0 %>
<table class="table table-bordered my-3"">
		<tr>
		<th>購入者</th>
		<td><%= @user.name %></td>
		</tr>
		<tr>
		<th>購入日</th>
		<td><%= history.created_at %></td>
		</tr>
	<tr>
		<th>購入内容</th>
		<td>
		<ul>
			<% history.purchase_contents.each do |content| %>

				<li><%= content.product.product_name %></li>
					<li>購入枚数 <%= content.item_quantity %>枚</li>
					<li class="text-right">小計 <%= content.purchase_unit_price * content.item_quantity %></li>
				<% sum_price += content.purchase_unit_price * content.item_quantity %>
				<div class="hr my-3"><hr></div>
			<% end %>
		</ul>
	</tr>
		<tr>
		<th>送付先</th>
		<td><%= history.destination_address %></td>
		</tr>
		<tr>
		<th>ステータス</th>
		<td><%= history.delivery_status %></td>
		</tr>
	</table>

	<li class="text-right">合計金額<%= sum_price %></li>
	<% end %>