<div class="container" style="width:800px;">

<div class="text-center mx-auto my-4">
 <button type="button" class="btn btn-lg btn-primary">管理者トップページへ</button>
</div>








          <%=form_for @product do |f| %>

              <div class="form-group">
                <label for="File">シングル名/アルバム名</label><br />
                <%= f.text_field :product_name %>
              </div>

              <div class="form-group">
                <label for="File">ジャケット画像</label>
                <%= f.attachment_field :jacket_image_id %>
              </div>

              <div class="form-group">
                <label for="inputPrice">価格</label>
                <div class="input-group">
                  <%= f.text_field :price, placeholder: "価格", class:"pl-2"%>
                  <div class="ml-2">円</div>
                </div>
              </div>

              <div class="form-group">
                <label for="exampleSelect1exampleFormControlSelect1">在庫数</label>
                <div class="input-group">
                  <select class="form-control col-1" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  <div class="ml-2">個</div>
                </div>
              </div>

              <div class="form-group">
                <div>ジャンル</div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">J-POP</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">K-POP</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                  <label class="form-check-label" for="inlineRadio3">洋楽</label>
                </div>
              </div>



              <div class="form-group">
                <label for="exampleFormControlTextarea1">商品詳細</label>
                <%= f.text_area :product_introduction, placeholder: "ここに商品の詳細を記入", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= f.text_area :staff_comment, placeholder: "ここにスタッフコメントを記入", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
              <%= f.fields_for :discs do |disc| %>

              <%= disc.text_field :disc_name, placeholder: "ディスクタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= disc.fields_for :songs do |song| %>
                <%= song.text_area :song_name1, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name2, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name3, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name4, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name5, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name6, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name7, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name8, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name9, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name10, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name11, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name12, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name13, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name14, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name15, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name16, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name17, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name18, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name19, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">スタッフコメント</label>
                <%= song.text_area :song_name20, placeholder: "ソングタイトル", class: "pl-2" %>
              </div>

              <% end %><!-- song -->
          <% end %><!-- disc -->
          <%= f.submit "クリエイト" %>
          <% end %>


      </div>
    </div><!-- card 13line-->