<head>
	<meta charset="utf-8">
	<title></title>
	<!-- <link href="css/bootstrap.css" rel="stylesheet"> -->
</head>
<header id="header">
	<a href="#" style="padding: 15px" class="btn page-link text-dark d-inline-block btn-lg btn-block">
		<font size="7">カラオケばっちこい！</font>
	</a>
	<div class="link_top">
		<button type="button" style="padding: 20px 100px; margin-bottom: 40px;" class="btn page-link text-dark d-inline-block btn-lg center-block"><p style="margin: 0;"class="text-primary">管理者トップページへ</p>
		</button>
	</div>
</header><!-- /header -->
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="box clearfix">
					<div class="jacket-box">
						<div class="type-name">
							[CD]シングル
						</div>
						<div class="jacket-jpg">
							<%#= attachment_image_tag @product.jacket_image_id, :image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg", :size =>"50x50" %>画像
						</div>
					</div>
					<div class="product-content-box">
						<p>アルバム名<%= @product.product_name %></p>
						<p>アーティスト名
							<%#= @product.discs[0].songs[0].artists[0].artist_name %></p>
						<p><%= @product.price %>価格（税込み）</p>
						<p>在庫状況<%= @product.number_of_stock %></p>
						<%= link_to edit_admins_product_path(@product.id) do %><button type="button" class="btn page-link text-dark d-inline-block btn-lg center-block">
						<p style="margin: 0;" class="text-primary">編集する</p>
						</button><% end %>
					</div>
				</div>
				<div class="box2">
					<p>ジャンル名<%=  %></p>
					<p>レーベル<%#= @product.label_name %></p>
				</div>
				<% @product.discs.each do |disc| %>
				<div class="song-name-box">
					<table>
						<h3><%= disc.disc_name %></h3>
						<tbody>
							<% disc.songs.each do |song| %>
							<tr>
								<td><%= song.song_name %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<% end %>
				<div class="product-content-box2">
					<p>商品詳細</p>
    				<%= @product.product_introduction %>
				</div>
				<div class="staff-comment">
					<h5>スタッフコメント</h5>
					<%#= @product.staff_comment %>
				</div>
			</div>
		</div>
	</div>
</body>
