<%= render 'layouts/header' %>

<div class="container">
<% if user_signed_in? %>
  <p>ようこそ、<%= current_user.name %> 様</p>
<% else %>
  <p>ようこそ、ゲスト様</p>
<% end %>

<p><%= current_user.name %> 様のカート内</p>
<% @cart_contents.each do |cart_content| %>
<div class="row my-2 mx-1 p-3 box">
	<div class="col-4">
		<div class="box-jacket">
			<%= image_tag 'test.jpg'%>
		</div>
	</div>
	<div class="col-8">
		<div class="box-song"><a href="#"><%= cart_content.product.product_name %></a></div>
		<div class="hr my-1"><hr></div>
		<div class="box-artist"><a href="#"><%= cart_content.product.artist.artist_name %></a></div>
		<div class="hr my-1"><hr></div>
		<div class="box-price">価格（税込）：<%= cart_content.product.price %></div>
		<div class="hr my-1"><hr></div>
		<div class="box-stock">個数：<%= cart_content.product.number_of_stock %>
			<select name="cnt" style="margin-right: 0.5em">
			<option value="0">0</option>
			<option value="1" selected>1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			</select>個
		</div>
		<div class="hr my-1"><hr></div>
		<div class="row mt-2 mx-auto">
			<div class="col-6">
				<button type="button" class="btn btn-warning btn-block">取消</button>
			</div>
			<div class="col-6">
				<button type="button" class="btn btn-warning btn-block">購入</button>
			</div>
		</div>
	</div>
</div><!-- row my-2 mx-1 p-3 box -->
<% end %>