<%= render 'layouts/header' %>

<div class="container">

<% if user_signed_in? %>
  <p>ようこそ、<%= current_user.name %> 様</p>
<% else %>
  <p>ようこそ、ゲスト様</p>
<% end %>

<!--ransackフォーム-->
<div class="input-group flex-nowrap mb-3">

              <%= search_form_for @q, class:"input-group-prepend w-100", url: search_path do |f| %>

                <%= f.search_field :price_cont, class:"form-control col-10", placeholder:"曲・アーティストを探す" %>

                <%= f.submit '検索', class: "btn btn-outline-secondary  col-2" %>

              <% end %>

</div>
  <!--ransackフォーム-->



<div id="top-image" class="text-center"></div>

<!-- 下記はカラオケ人気曲順です -->
<h2 class="mt-4">カラオケ人気曲ランキング</h2>
<div class="card p-3">
  <div class="row pl-2">1位：<%= link_to 'Love so sweet／嵐', product_path(1) %></div>
  <div class="row pl-2">2位：<%= link_to '女々しくて／ゴルデンボンバー' %></div>
  <div class="row pl-2">3位：<%= link_to '純恋歌／湘南乃風' %></div>
  <div class="row pl-2">4位：<%= link_to 'クリスマスソング／バックナンバー' %></div>
  <div class="row pl-2">5位：<%= link_to 'リンダリンダ／ブルーハーツ' %></div>
</div>

<!-- 下記は歌いやすい曲ランキングベスト５（ベタ打ち？）です。 -->
<div class="ranking">
  <h3 class="mt-4">20代男性が歌いやすいカラオケ曲ベスト5</h3>
  <div class="row mb-2 p-3 box">
      <div class="col-4">
        <div class="mx-auto text-center">CDシングル</div>
        <div class="box-jacket"><%= image_tag 'Ulfuls_Ashitagaarusa.jpg'%></div>
      </div>
      <div class="col-8 mt-3">
        <div class="box-song"><a href="#">明日があるさ</a></div>
        <div class="hr my-1"><hr></div>
        <div class="box-artist"><a href="#">ウルフルズ</a></div>
        <div class="hr my-1"><hr></div>
        <div class="box-price">価格（税込）：¥1,000</div>
        <div class="hr my-1"><hr></div>
        <div class="box-stock">在庫状況：在庫あり</div>
        <div class="mx-auto text-center">
          <button type="button" class="btn btn-warning mt-3">カートに入れる</button>
        </div>
      </div>
    </div><!-- row mb-2 p-3 box -->

    <div class="row mb-2 p-3 box">
      <div class="col-4">
        <div class="mx-auto text-center">CDアルバム</div>
        <div class="box-jacket"><%= image_tag 'Mongok800_chiisanakoinouta.jpg'%></div>
      </div>
      <div class="col-8 mt-3">
        <div class="box-song"><a href="#">小さな恋の歌</a></div>
        <div class="hr my-1"><hr></div>
        <div class="box-artist"><a href="#">モンゴル800</a></div>
        <div class="hr my-1"><hr></div>
        <div class="box-price">価格（税込）：¥2,160</div>
        <div class="hr my-1"><hr></div>
        <div class="box-stock">在庫状況：在庫あり</div>
        <div class="mx-auto text-center">
          <button type="button" class="btn btn-warning mt-3">カートに入れる</button>
        </div>
      </div>
    </div>

    <div class="row mb-2 p-3 box">
      <div class="col-4">
        <div class="mx-auto text-center">CDシングル</div>
        <div class="box-jacket"><%= image_tag 'Fukuyamamasaharu_Sakurazaka.jpg'%></div>
      </div>
      <div class="col-8 mt-3">
        <div class="box-song"><a href="#">桜坂</a></div>
        <div class="hr my-1"><hr></div>
        <div class="box-artist"><a href="#">福山雅治</a></div>
        <div class="hr my-1"><hr></div>
        <div class="box-price">価格（税込）：¥1,380</div>
        <div class="hr my-1"><hr></div>
        <div class="box-stock">在庫状況：在庫あり</div>
        <div class="mx-auto text-center">
          <button type="button" class="btn btn-warning mt-3">カートに入れる</button>
        </div>
      </div>
    </div>

    <div class="row mb-2 p-3 box">
      <div class="col-4">
        <div class="mx-auto text-center">CDシングル</div>
        <div class="box-jacket"><%= image_tag 'Spitz_Robinson.jpg'%></div>
      </div>
      <div class="col-8 mt-3">
        <div class="box-song"><a href="#">ロビンソン</a></div>
        <div class="hr my-1"><hr></div>
        <div class="box-artist"><a href="#">スピッツ</a></div>
        <div class="hr my-1"><hr></div>
        <div class="box-price">価格（税込）：¥1,180</div>
        <div class="hr my-1"><hr></div>
        <div class="box-stock">在庫状況：在庫あり</div>
        <div class="mx-auto text-center">
          <button type="button" class="btn btn-warning mt-3">カートに入れる</button>
        </div>
      </div>
    </div>

    <div class="row mb-2 p-3 box">
      <div class="col-4">
        <div class="mx-auto text-center">CDシングル</div>
        <div class="box-jacket"><%= image_tag 'Sign_MrChirldren.jpg'%></div>
      </div>
      <div class="col-8 mt-3">
        <div class="box-song"><a href="#">Sign</a></div>
        <div class="hr my-1"><hr></div>
        <div class="box-artist"><a href="#">Mr.Children</a></div>
        <div class="hr my-1"><hr></div>
        <div class="box-price">価格（税込）：¥980</div>
        <div class="hr my-1"><hr></div>
        <div class="box-stock">在庫状況：在庫あり</div>
        <div class="mx-auto text-center">
          <button type="button" class="btn btn-warning mt-3">カートに入れる</button>
        </div>
      </div>
    </div>

</div><!-- ranking -->

</div><!-- container -->

<footer class="footer mt-3 p-2 bg-warning text-light">
  <div class="col-12 text-center">©︎inflatop.inc</div>
</footer>