<header>
  <nav class="bg-warning sticky-top p-2 text-center">
  	<%= link_to 'カラオケばっちこい！' ,root_path , class: "text-light" %>
</header>

<ul class="nav-menu clearfix">
<% if user_signed_in? %>
  <!-- ログイン時 -->
	<!-- ユーザーの会員登録ページに遷移 -->
	<%= link_to carts_index_path , class: 'nav-text' do  %>
	  <li class="nav-list">
	  <%= image_tag 'cart.png' %>
	  <br>カート
	  </li>
	<% end %>

	<%= link_to destroy_user_session_path, method: :delete , class: 'nav-text' do  %>
	  <li class="nav-list">
	  <%= image_tag 'logout.png' %>
	  <br>ログアウト
	  </li>
	<% end %>

	<%= link_to user_path(current_user.id) , class: 'nav-text' do  %>
	  <li class="nav-list">
	  <%= image_tag 'mypage.png' %>
	  <br>マイページ
	  </li>
	<% end %>
</ul>

<% else %>
  <!-- 未ログイン時 -->
  	<!-- ユーザーのカート内ページに遷移 -->
  	<%= link_to carts_index_path , class: 'nav-text' do  %>
	  <li class="nav-list">
	  <%= image_tag 'cart.png' %>
	  <br>カート
	  </li>
	<% end %>

	<%= link_to new_user_session_path , class: 'nav-text' do  %>
	  <li class="nav-list">
	  <%= image_tag 'login.png' %>
	  <br>ログイン
	  </li>
	<% end %>

	<%= link_to new_user_registration_path , class: 'nav-text' do  %>
	  <li class="nav-list">
	  <%= image_tag 'mypage.png' %>
	  <br>新規登録
	  </li>
	<% end %>

</ul>
<% end %>