
<p>ようこそ、<%= user.name %> 様</p>

<div class="input-group col-12 mb-3">
	<input type="text" class="form-control" placeholder="曲・アーティストを探す">
	<span class="input-group-btn">
		<button type="submit" class="btn btn-outline-secondary">検索</button>
	</span>
</div> -->

<div class="input-group col-12 mb-3">
            <%= search_form_for @q, url: search_path do |f| %>
              <%= f.label :price_cont %>
              <%= f.search_field :price_cont %>
              <%= f.submit %>
            <% end %>

            <% if params[:q].present? && params[:q][:price_cont].present? %>
              Search name: <%= params[:q][:price_cont] %>
            <% end %>


</div>